<div class="navbar-container">
  <div class="navbar-logo">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/document-app-icon-or-logo-icon-design-template-7b6cac8de4b9abdd949f7643fe00924e_screen.jpg?ts=1576967977" alt="Your App Logo">
  </div>
  <div class="navbar-title">Administración de Documentos</div>
  <p-menubar [model]="items"></p-menubar>
</div>

<div class="card">

<div style="margin-top: 1rem;"></div>
<button  pButton
pRipple
 type="button"  icon="pi pi-plus"  (click)="show()" class="btn btn-primary" label="Nuevo documento"></button>
 <div style="margin-top: 3rem;"></div>
<p-table class="table" [value]="documentos">
  <ng-template pTemplate="header">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Hash</th>
        <th>Estado</th>
        <th>Fecha de Adición</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-product>
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.hash }}</td>
        <td><p-tag [value]="product.estado==1?'Registrado':product.estado==2?'Revisado':'Rechazado'" [severity]="getSeverity(product.estado)"></p-tag></td>
        <td>{{ product.fechaAdicion }}</td>

    </tr>
</ng-template>
</p-table>
</div>